<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">

    <title>Choose the tool</title>

    <link href="{% static 'selector/css/style.css' %}" rel="stylesheet">
	<link rel="icon" type="image/ico" href="{% static 'common_modules/images/favicon.ico' %}" />    
  </head>

  <body>
    <div class="container">
   
		<div class="row">
			<div class="col s8 offset-s2">
				<div class="center-align marg-top"><img src="{% static 'selector/images/amlogo.png' %}" width=300></div>
			</div>

			<div class="col s2">
				{% if is_admin %}
				 	<a href="{% url 'admin_panel' %}" class="btn-floating right btn-large waves-effect waves-light marg amber darken-2">
				 		<i class="material-icons">settings</i>
				 	</a>
				{% endif %}	
			</div>
		</div>  
	
		<div class="row marg-top">
			<div class="col s10 offset-s1">

				{% if 'Builds' in allowed %}
				<div class="col s3">
					  <div class="card small sticky-action hoverable">

					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="{% static 'selector/images/builds.png' %}">
					    </div>

					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Builds<i class="material-icons right">more_vert</i></span>
					    </div>

					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Builds<i class="material-icons right">close</i></span>
					      <p>WebGL Asphalt NFT builds.</p>
					    </div>

						<div class="card-action">
							{% if 'Builds' in allowed %}
								<a href="{% url 'builds' %}">
									<button class="waves-effect waves-light btn green">start</button>
								</a>
							{% else %}
								<button class="waves-effect waves-light btn green disabled">start</button>
							{% endif %}
						</div>

					  </div>
				</div>
				{% endif %}
		</div>
	
	</div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="{% static 'selector/js/scripts.js' %}"></script>  
	
  </body>
</html>